<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Borrow book - Worblehat Bookmanager</title>
</head>
<body>
<h1>Borrow Book</h1>

<form th:object="${borrowFormData}" method="POST">

  ISBNs:<textarea id="isbn" rows="3" cols="25" th:field="*{isbn}" placeholder="1111111111,2222222222,..."></textarea>
  <span id="isbn.error" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
  <br/>
  Email:<input id="email" type="text" th:field="*{email}"/>
  <span id="email.error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  <br/>
  <input type="submit" id="borrowBook" value="Borrow Book"/>

</form>

<div th:replace="fragments/footer :: subpage-footer">Footer</div>
</body>
</html>
